<?xml version="1.0"?>
<launch>
    <node pkg="uwb_variance" type="localize.py" name="uwb_variance" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="9600"/>
        <param name="frame_id" value="map"/>
        <param name="frequency" value="30"/>
        <rosparam file="$(find uwb_variance)/param/demo.yaml"/>
        <remap from="pose" to="/radio_pose"/>
        <remap from="pose_cov" to="/radio_pose_cov"/>
    </node>
</launch>
