<?xml version="1.0"?>
<launch>

    <rosparam param="tag_names">
        ["mochi_uwb"]
    </rosparam>

    <rosparam param="offsets">
        ["0.0"]
    </rosparam>

    <!-- Reading from tag sensors -->

    <node name="reader1" type="tag.py" pkg="uwb_positioning"
        output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
        <param name="frequency" value="100"/>
    </node>

</launch>
